<aside class="w-16 md:w-64 bg-white shadow-xl flex flex-col justify-between p-4 transition-all duration-300">
    <div>
        <h1 class="text-xl md:text-2xl font-bold text-indigo-600 mb-8 md:block hidden">Moj Panel</h1>
        <h1 class="text-xl md:text-2xl font-bold text-indigo-600 mb-8 md:hidden block">MP</h1>

        <nav class="space-y-2">
            
            <a [routerLink]="['/profile']"
               routerLinkActive="bg-indigo-600 text-white" 
               [routerLinkActiveOptions]="{exact: true}"
               class="flex items-center p-3 text-lg font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 rounded-lg transition duration-150"
               aria-current="page">
                <span class="md:inline hidden">Moj profil</span>
                <span class="md:hidden block">P</span>
            </a>

            <a [routerLink]="['/show-auctions']"
               routerLinkActive="bg-indigo-600 text-white"
               [routerLinkActiveOptions]="{exact: true}"
               class="flex items-center p-3 text-lg font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 rounded-lg transition duration-150">
                <span class="md:inline hidden">Pretraga aukcija</span>
                <span class="md:hidden block">A</span>
            </a>

            <a [routerLink]="['/my-bids']"
               routerLinkActive="bg-indigo-600 text-white"
               [routerLinkActiveOptions]="{exact: true}"
               class="flex items-center p-3 text-lg font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 rounded-lg transition duration-150">
                <span class="md:inline hidden">Moje ponude</span>
                <span class="md:hidden block">Mpo</span>
            </a>
            
        </nav>
    </div>
    
    <button (click)="logOutUser()" class="w-full py-3 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600 transition duration-150">
        <span class="md:inline hidden">Odjavi se</span>
        <span class="md:hidden block">X</span> 
    </button>
</aside>